.scrollContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 20vh;

    
}

.scrollBars{
    width: 35px;
    height: 3px;
    background-color: #1C252F;

}
.scrollBarsY{
    height: 360px;
    width: 3px;
    background-color: #1C252F;
    margin-top: 50px;
    
}
.scrollText{
    transform: rotate(-90deg);
    h4{
        font-size: 22px;
        width: 96px;
    }
}
a{color: blueviolet;}

@media (max-width: 420px){
    .scrollContainer{
        display: none;
    }
}