.buttonContactContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 30px;
    padding: 0px 40px 0px 40px;
    background-color: #1C252F;
    color: #D5FF40;
    border-radius: 12px;
    text-decoration: none;
}
@media (max-width: 768px){
    .buttonContactContainer{
        padding: 0px 20px 0px 20px;
        font-size: 16px;
    }
}