.mainHome_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainHome_ContainerDescription{
    margin: 40px;
    height: 340px;
    width: 620px;
}
.mainHome_ContainerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.textTitle {
    display: block;
    text-align: center;
    white-space: nowrap;
    font-size: 46px;
    width: 22ch;
    border-right: #1C252F solid 4px;
    overflow: hidden;
     /* Animación principal: escribir el texto */
     animation: typing 2s steps(27) forwards, 
     blink 2s infinite step-end alternate; /* Animación de parpadeo */

/* Establecer la dirección de la animación */
    animation-direction: alternate; /* Hacer que la animación vaya hacia adelante y hacia atrás */

/* Establecer que el borde desaparezca al final de la animación */
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {width: 0}
    to {
        width: 22ch; /* Ancho final del texto */
        border-right-color: transparent; /* Hacer que el borde derecho sea transparente al final */
    }
}
@keyframes blink {
    50% {background-color: transparent;}
}
.mainHome_ContainerTitles p{
    font-size: 22px;
    width: 620px;
}
.mainHome_ContainerImage img{
    width: 290px;
    
}
.mainHome_line{
    width: 162px;
    height: 4px;
    background-color: #1C252F;
    margin: 10px 0px 20px 0px;
}

.mainHome_ContainerButton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 380px;
    align-items: center;
}
.buttonDark{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 30px;
    width: 152px;
    background-color: #1C252F;
    color: #D5FF40;
    border-radius: 12px;
    margin: 20px;
}
.buttonDark:hover{
    position: relative;
    bottom: 4px;
    scale: 1.05;
}
.buttonDark2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 30px;
    width: 30px;
    background-color: #1C252F;
    color: #D5FF40;
    border-radius: 12px;
    margin: 20px 0px 20px 0px;
    transition: 0.2s;
}
.buttonDark2:hover{
    position: relative;
    bottom: 4px;
    scale: 1.05;
}
.buttonLigth{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 30px;
    width: 152px;
    background-color: #D5FF40;
    border:3px solid #1C252F;
    border-radius: 12px;
}
.buttonLigth:hover{
    position: relative;
    bottom: 4px;
    scale: 1.05;
}
.buttonLigth2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 30px;
    width: 30px;
    background-color: #D5FF40;
    border:3px solid #1C252F;
    border-radius: 12px;
}
.buttonLigth2:hover{
    position: relative;
    bottom: 4px;
    scale: 1.05;
}
@media (max-width: 1000px){
    .textTitle{
        font-size: 32px;   
    }
    .mainHome_ContainerTitles p{
        font-size: 16px;
        width: 450px;
    }
    .mainHome_ContainerImage img{
        width: 160px;
        
    }
    .mainHome_ContainerDescription{
        height: 220px;
        width: 450px;
    }
    .buttonDark2{
        margin: 10px 0px 10px 0px;
    }
    .buttonDark{
        margin: 10px;
    }
    .mainHome_line{
        width: 140px;
        height: 3px;
    }

}
@media (max-width: 700px){
    .mainHome_Container{
        flex-direction: column;
    }
    
    .textTitle{
        font-size: 20px;   
    }
    .mainHome_ContainerTitles p{
        font-size: 14px;
        width: 280px;
    }
    .mainHome_ContainerImage img{
        width: 160px;
        
    }
    .mainHome_ContainerDescription{
        height: 220px;
        width: 270px;
        text-align: center;
        
    }
    .buttonDark2{
        height: 24px;
        width: 24px;
        border-radius: 8px;
    }
    .buttonDark{
        font-size: 14px;
        height: 24px;
        width: 100px;
        border-radius: 8px;
    }
    .buttonLigth{
        font-size: 14px;
        height: 24px;
        width: 100px;
        border-radius: 8px;
    }
    .buttonLigth2{
        height: 24px;
        width: 24px;
        border-radius: 8px;
    }
    .mainHome_ContainerButton{
        margin-top: 20px;
        width: 280px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
.mainHome_line{
    width: 120px;
    height: 2px;
}
}