
.mainHomeContainer{
    display: flex;
    justify-content: center;
    
}
.mainHomeBlur{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(2px);
}
.FormTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
}
.FormTitle span{
    width: 40px; 
}
.FormTitle img{
    width: 40px;  
}

.FormContainer{
    background-color: #1C252F;
    position: fixed;
    width: 660px;
    height: 540px;
    border-radius: 16px;
    color: #D5FF40;
    border: #D5FF40 solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin: 200px;
}
.FormContainer h1{
    font-size: 24px;
    font-weight: 600;
}

.FormSection{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.FormSection label{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10px;
}
.FormSection input{
    width: 560px;
    height: 30px;
    background: #1C252F;
    border: #D5FF40 solid 2px;
    border-radius: 12px;
    padding:0px 12px 0px 12px;
    background-color: #1C252F;
    color: #D5FF40;
}
.FormSection textarea{
    width: 560px;
    height: 80px;
    background: none;
    border: #D5FF40 solid 2px;
    border-radius: 12px;
    color: #D5FF40;
    padding:0px 12px 0px 12px;
}
.FormSectionSubmit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
}
.FormSectionSubmit input{
    width: 260px;
    height: 30px;
    background: none;
    background-color: #D5FF40;
    border-radius: 12px;
}
.FormSectionRrss{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.FormSectionRrss p{
    font-size: 16px;
    font-weight: 200;
     margin-right: 10px;
}
.FormSectionRrss img{
    margin: 10px;
}

@media (max-width: 768px){
    .FormContainer{
        width: 520px;
        height: 540px;
    }
    .FormSection input{
        width: 460px;
    }
    .FormSection textarea{
        width: 460px;
    }
    .FormSectionSubmit input{
        width: 200px;
    }
    .FormSectionRrss p{
        font-size: 14px;
        font-weight: 200;
        margin-right: 10px;
    }
    .FormSectionRrss img{
        width: 25px;
        margin: 6px;
    }
}
@media (max-width: 420px){
    .FormContainer{
        width: 320px;
        height: 540px;
    }
    .FormSection input{
        width: 260px;
    }
    .FormSection textarea{
        width: 260px;
    }
    .FormSectionSubmit input{
        width: 120px;
    }
    .FormSectionRrss{
        width: 260px;
    }
    .FormSectionRrss img{
        width: 20px;
        margin: 4px;
    }
}



































































