.nabvar_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 40px 80px 0px 80px;
    justify-content: space-between;
    position: fixed;
}
.nabvar_ContainerSep{
    width: 152px;
    height: 38px;

}

.nabvar_ContainerList{
    display: flex;
    flex-direction: row;
    li{
        font-size: 24px;
        font-weight: 500;
        margin: 0px 10px 0px 10px;
    }
}