html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
html::-webkit-scrollbar{
  display: none;
 }
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0px 24px 0px 24px;
}
a.active {
  text-decoration: none;
  color: inherit;
  border: 2px solid ;
  border-radius: 12px;
  
  font-weight: 600;
}

@media (max-width: 768px){
  a {
    padding: 0px 10px 0px 10px;
  }
  a.active {
    border-radius: 8px;
  }
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
  
}
p{
  text-decoration: none;
  color: inherit;
}
#autodidacta{
  position: absolute;
  right: 28%;
  top: calc(300vh + 40%);
}
#henry{
  position: absolute;
  right: 62%;
  top: calc(300vh + 32%);
}
#coderhause{
  position: absolute;
  right: 46%;
  top: calc(300vh + 58%);
}
#universidad{
  position: absolute;
  right: 64%;
  top: calc(300vh + 84%);
}
#sliderSkils{
  height: 400px;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: transparent;
  width: 68rem;
}
@media (max-width: 1440px){
  #autodidacta{
    right: 14%;
  }
  #henry{
    right: 56%;
  }
  #coderhause{
    right: 34%;
  }
  #universidad{
    right: 58%;
  }
}
@media (max-width: 768px){
  #sliderSkils{
    width: 32rem;
  }
  .swiffy-slider{
    --swiffy-slider-item-count:1.5
  }
  #autodidacta{
    position: absolute;
    right: -6%;
    top: calc(300vh + 46%);
  }
  #henry{
    position: absolute;
    right: 46%;
    top: calc(300vh + 32%);
  }
  #coderhause{
    position: absolute;
    right: 14%;
    top: calc(300vh + 58%);
  }
  #universidad{
    position: absolute;
    right: 52%;
    top: calc(300vh + 76%);
  }
  
}
@media (max-width: 420px){
  #sliderSkils{
    width: 19rem;
  }
 
  .swiffy-slider{
    --swiffy-slider-item-count:none
  }
  #autodidacta{
    position: static;
    margin: 40px 0px 0px 20px;
  }
  #henry{
    position: static;
    margin: 40px 0px 0px 20px;
  }
  #coderhause{
    position: static;
    margin: 40px 0px 0px 20px;

  }
  #universidad{
    position: static;
    margin: 40px 0px 0px 20px;
  }

}


#sliderContainerSkils{
  height: 20rem;
  display: flex;
  align-content: center;

}
.slider-nav{
  margin: -5%;
}


