html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
html::-webkit-scrollbar{
  display: none;
 }
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a.active {
  text-decoration: none;
  color: inherit;
  border: 2px solid ;
  border-radius: 12px;
  padding: 0px 40px 0px 40px;
  font-weight: 600;
}
@media (max-width: 768px){
  a.active {
    padding: 0px 20px 0px 20px;
  }
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
  
}
p{
  text-decoration: none;
  color: inherit;
}
#autodidacta{
  position: absolute;
  right: 24rem;
  top: calc(300vh + 20rem);
}
#henry{
  position: absolute;
  right: 62rem;
  top: calc(300vh + 16rem);
}
#coderhause{
  position: absolute;
  right: 44rem;
  top: calc(300vh + 28rem);
}
#universidad{
  position: absolute;
  right: 64rem;
  top: calc(300vh + 44rem);
}
