.cardJobsImage{
    background-color: gray;
    width: 290px;
    height: 200px;
    border-radius: 12px 12px 0px 0px ;
}

.cardJobsText{
    width: 290px;
    height: 160px;
    background-color: #1C252F;
    border-radius: 0px 0px 12px 12px ;
    color: #D5FF40;
    
    h4{
        font-size: 20px;
        text-align: center;
        padding: 20px;
    }
    p{
        font-size: 20px;
        text-align: center;
    }
    
}
.cardJobsTextImage{
    text-align: end;
    margin: 5px;
    img{
        height: 28px;
        width: 28px;
        margin: 5px;
        text-align: end;
    }
}