.cardJobsContainer{
    height: 100%;
    width: 100%;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(0,0,0,0.1),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 12px;
}
.cardJobsContainer:hover{
    scale: 1.05;
}
.cardJobsImage{
    background-color: aliceblue;
    height: 50%;
    border-radius: 12px 12px 0px 0px ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;


    overflow: hidden; /* Esto evita que la imagen se desborde del contenedor */
}
.cardJobsImage img{
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
  display: block;
}


.cardJobsText{
    height: 50%;
    background-color: #1C252F;
    border-radius: 0px 0px 12px 12px ;
    color: #D5FF40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 20px;
}    
.cardJobsText h4{
    margin: 4px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    
}
.cardJobsText h6{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}
.cardJobsText p{
    font-size: 14px;
    text-align: center;
    width: 80%;
    font-weight: 200;
}

.cardJobsTextImage{
    margin: 5px;
    
}
.cardJobsTextImage img{
    
    width: 28px;
    margin: 5px;
}
@media (max-width: 1320px){
    .cardJobsText h4{
        font-size: 16px;
    }
    .cardJobsText h6{
        font-size: 14px;
        margin: 4px;
    }
    .cardJobsText p{
        font-size: 12px;
    }
  
    .cardJobsTextImage img{
        width: 22px;
    }
}
@media (max-width: 420px){
    .cardJobsText{
        height: 60%;
    }
    .cardJobsImage{
        height: 40%;
    }
}